.FillingEquipment {
  padding-block: 50px;
  width: 100%;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    h2 {
      font-size: 35px;

      color: #1e90ff;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
      width: 60%;
    }
    .equipmentsBlocks {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      margin-top: 40px;
      .equipmentBlock {
        width: 47%;
        height: auto;
        padding: 30px;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        transition: 0.5s ease-in-out;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid #1e90ff;
          transform: scale(1.01);
        }
        img {
          width: 100%;
          height: 400px;
          border-radius: 10px;
          object-fit: contain;
        }
        h3 {
          font-size: 20px;
          font-weight: 500;
          text-align: start;
        }
        h4 {
          font-size: 18px;
          font-weight: 500;
        }
        p {
          text-align: start;
          font-size: 18px;
          color: dimgray;
          margin-bottom: 10px;
        }
        a {
          display: flex;
          align-items: start;
          text-align: start;
          gap: 10px;
          span {
            color: green;
          }
        }
        button {
          font-size: 18px;
          background: transparent;
          border: none;
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 20px;
          font-weight: 500;
          transition: 0.5s ease-in-out;
          &:hover {
            color: #1e90ff;
            transform: scale(1.02);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .FillingEquipment {
    .content {
      h2 {
        font-size: 25px;
        width: 100%;
      }
      h6 {
        font-size: 15px;
        width: 100%;
      }
      .equipmentsBlocks {
        flex-direction: column;
        gap: 20px;
        .equipmentBlock {
          width: 100%;
          h3 {
            font-size: 18px;
          }
          h4 {
            font-size: 15px;
          }
          p {
            font-size: 15px;
          }
          a {
            font-size: 15px;
            span {
              font-size: 15px;
            }
          }
          button {
            font-size: 15px;
          }
        }
      }
    }
  }
}
