.StationMachine {
  padding-top: 50px;
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      width: 35%;
      color: dimgray;
    }
    .left {
      text-align: start;
    }
    .right {
      text-align: end;
    }
    img {
      width: 20%;
      height: 350px;
      object-fit: contain;
    }
  }
}

@media (max-width: 1150px) {
  .StationMachine {
    .content {
      img {
        width: 30%;
        height: 400px;
      }
    }
  }
}
@media (max-width: 900px) {
  .StationMachine {
    .content {
      p {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 768px) {
  .StationMachine {
    .content {
      flex-direction: column;
      p {
        font-size: 15px;
        width: 100%;
      }
      .left {
        text-align: center;
      }
      .right {
        text-align: center;
      }
      img {
        width: 100%;
        height: 350px;
      }
    }
  }
}

@media (max-width:  400px) {
    .StationMachine {
        .content{
            p {
                font-size: 13px;
            }
            img {
                height: 300px;
            }
        }
    }
}