.Header {
	padding: 30px 0;
	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h1 {
			font-size: 30px;
			color: #646cffd7;
		}
		.nav {
			display: flex;
			align-items: center;
			gap: 50px;
			a {
				font-size: 18px;
				color: #333;
			}
			button {
				padding: 12px 30px;
				border: none;
				background-color: #646cffd7;
				border-radius: 15px;
				font-size: 0.9rem;
				color: white;
			}
		}
	}
}
