.AboutValues {
  position: relative;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 40px;
    h5 {
      color: #1e90ff;
      font-size: 15px;
      font-weight: 500;
      padding-inline: 10px;
      padding-block: 5px;
      border-radius: 50px;
      background: #1e8fff1e;
    }
    h1 {
      font-size: 40px;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
      width: 70%;
      text-align: center;
    }
    .video-background {
      width: 100px;
    }
    .valuesData {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
      .block {
        width: 400px;
        height: 200px;
        background: white;
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        gap: 10px;
        border-radius: 10px;
        a {
          width: 40px;
          height: 40px;
          background: #1e8fff3a;
          color: #1e90ff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          font-size: 20px;
        }
        h3 {
          font-size: 20px;
          font-weight: 500;
        }
        h6 {
          font-size: 15px;
          text-align: start;
          width: 100%;
        }
      }
    }
  }
}
