.AboutCompany {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 100px;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    h5 {
      color: #00468c;
      font-size: 15px;
      font-weight: 500;
      padding-block: 5px;
      padding-inline: 10px;
      border-radius: 50px;
      background: #1e8fff1e;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-size: 40px;
      background: linear-gradient(90deg, #00468c, #1e90ff);
      -webkit-background-clip: text;
      color: transparent;
    }
    p {
      color: #6b7280;
      width: 80%;
      text-align: center;
    }
    .companyLogo {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      margin-top: 50px;
      img {
        width: 200px;
        height: 50px;
        object-fit: contain;
      }
    }
  }
}
