.AboutMain {
  padding: 200px 0 100px 0;
  
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;

    h1 {
      font-size: 40px;
      background: linear-gradient(90deg, #00468c, #1e90ff);
      -webkit-background-clip: text;
      color: transparent;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: #6b7280;
      width: 70%;
      text-align: center;
    }
    .aboutContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
      .aboutStory {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        h5 {
          color: #00468c;
          font-size: 15px;
          font-weight: 500;
          padding-inline: 10px;
          padding-block: 5px;
          border-radius: 50px;
          background: #1e8fff1e;
        }
        h2 {
          font-size: 30px;
          background: linear-gradient(90deg, #00468c, #1e90ff);
          -webkit-background-clip: text;
          color: transparent;
        }
        .description {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 40px;
          width: 90%;
          h6 {
            font-size: 18px;
            font-weight: 400;
            color: dimgray;
            text-align: start;
            width: 100%;
          }
        }
      }
      img {
        width: 600px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}
