.MainOther {
	padding: 100px 0;
	.content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		.ready {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 350px;
			height: 27px;
			background-color: #1e90ff;
			border-radius: 20px;
			margin-bottom: 30px;
			p {
				color: white;
				font-size: 1rem;
				font-weight: 600;
			}
		}
		.text {
			text-align: center;
			h2 {
				font-size: 2.4rem;
				color: #333;
			}
			p {
				color: #333;
				font-weight: 500;
				width: 700px;
				margin: 20px 0 40px 0;
			}
		}
		.btns {
			display: flex;
			align-items: center;
			gap: 20px;
			button {
				padding: 12px 30px;
				border: none;
				background-color: #1e90ff;
				border-radius: 20px;
				font-size: 0.9rem;
				color: white;
				font-weight: 600;
				transition: all 0.5s ease-in-out;
			}
			.active {
				background-color: white;
				color: #333;
				border: 1px solid #333;
			}
		}
	}
}
