.MainWelcome {
	padding: 150px 0;
	background-color: #61dafbaa;
	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.text {
			h2 {
				font-size: 52px;
				color: black;
				line-height: 50px;
			}
			p {
				font-size: 1.1rem;
				color: #333;
				padding: 18px 0;
			}
			.btns {
				display: flex;
				align-items: center;
				gap: 30px;
				button {
					border: none;
					border-radius: 25px;
					padding: 15px 30px;
					color: white;
					font-size: 1rem;
					font-weight: 600;
					background-color: blue;
				}
				.btn__second {
					background-color: white;
					color: #333;
				}
			}
		}
	}
}
