.MainWelcome {
  padding-top: 200px;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .text {
      max-width: 600px;

      h1 {
        font-size: 42px;
        line-height: 1.3;
        background: linear-gradient(90deg, #00468c, #1e90ff);
        -webkit-background-clip: text;
        color: transparent;
        position: relative;
        overflow: hidden;
        display: inline-block;
      }

      p {
        color: #444;
        padding: 20px 0;
        font-size: 18px;
        line-height: 1.6;
      }

      .btns {
        display: flex;
        gap: 15px;

        button {
          padding: 12px 30px;
          border-radius: 50px;
          font-size: 1rem;
          font-weight: bold;
          transition: 0.4s ease-in-out;
          cursor: pointer;
        }

        .btn__first {
          background: linear-gradient(90deg, #00468c, #1e90ff);
          color: white;
          border: none;
          box-shadow: 0 4px 10px rgba(0, 70, 140, 0.3);

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 15px rgba(0, 70, 140, 0.5);
          }

          &:active {
            transform: scale(0.98);
          }
        }

        .btn__second {
          background: transparent;
          color: #00468c;
          border: 2px solid #00468c;
          background: linear-gradient(90deg, #00468c, #1e90ff);
          -webkit-background-clip: text;
          color: transparent;

          &:hover {
            background: linear-gradient(90deg, #00468c, #1e90ff);
            color: white;
            transform: scale(1.05);
          }
        }
      }
    }

    .video {
      width: 580px;
      height: 380px;
      border-radius: 20px;
      object-fit: cover;
      box-shadow: 0px 0px 15px rgba(0, 70, 140, 0.5);
      transition: transform 0.5s ease, box-shadow 0.5s ease;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 25px rgba(0, 70, 140, 0.7);
      }
    }
  }
  .scrollLogo {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 100px 0 50px 0;
    // height: 200px;
    .logo {
      width: 200px;
      height: 50px;
      object-fit: contain;
      margin-left: 20px;
    }
  }
}
