.ContactMain {
  width: 100%;
  height: auto;
  padding: 150px 0 100px 0;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    h5 {
      color: #00468c;
      font-size: 15px;
      font-weight: 500;
      padding-inline: 10px;
      padding-block: 5px;
      border-radius: 50px;
      background: #1e8fff1e;
    }
    h1 {
      font-size: 40px;
      background: linear-gradient(90deg, #00468c, #1e90ff);
      -webkit-background-clip: text;
      color: transparent;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      color: dimgray;
    }
    .contactDetails {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
      h1 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
        font-weight: 500;
        transition: 0.05s ease-in-out;
      }
      .companyData {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        .dataBlocks {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .block {
            width: 200px;
            height: 250px;
            background: white;
            border-radius: 10px;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.4);
            span {
              font-size: 25px;
              width: 40px;
              height: 40px;
              background: #000;
              border-radius: 50%;
              color: #00468c;
              background: #1e8fff1e;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.05s ease-in-out;
            }

            .data {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 5px;
              a {
                font-size: 15px;
                transition: 0.05s ease-in-out;
                border: 2px solid transparent;
                color: dimgray;
                &:hover {
                  color: #00468c;
                  border-bottom: 2px solid #00468c;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .schedule {
          width: 100%;
          height: 270px;
          background: white;
          border-radius: 10px;
          padding: 30px;
          display: flex;
          align-items: start;
          gap: 20px;
          box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.4);
          span {
            font-size: 25px;
            width: 40px;
            height: 40px;
            background: #000;
            border-radius: 50%;
            color: #00468c;
            background: #1e8fff1e;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.05s ease-in-out;
          }
          h6 {
            font-size: 15px;
          }
          .scheduleText {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .mainText {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;
              .icons {
                display: flex;
                align-items: start;
                gap: 15px;
                a {
                  font-size: 20px;
                  color: black;
                  transition: 0.2s ease-in-out;
                }
                .linkedin {
                  &:hover {
                    transform: scale(1.05);
                    color: #00468c;
                  }
                }
                .youtube {
                  &:hover {
                    transform: scale(1.05);
                    color: red;
                  }
                }
                .instagram {
                  background: #000;
                  color: white;
                  width: 20px;
                  height: 20px;
                  border-radius: 5px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 17px;
                  &:hover {
                    transform: scale(1.05);
                    background: rgb(131, 58, 180);
                    background: linear-gradient(
                      139deg,
                      rgba(131, 58, 180, 1) 0%,
                      rgba(253, 29, 29, 1) 50%,
                      rgba(252, 176, 69, 1) 100%
                    );
                  }
                }
              }
            }
            .scheduleData {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 20px;
              width: 100%;
              margin-top: 20px;
              .day {
                width: 100%;
                display: flex;
                align-items: start;
                justify-content: space-between;
                h4 {
                  font-size: 15px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
      .inputData {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 48%;
        .inputs {
          width: 100%;
          height: 550px;
          background: white;
          padding: 30px;
          border-radius: 10px;
          box-shadow: 0px 0px 5px rgba(105, 105, 105, 0.4);
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 20px;
          h1 {
            font-size: 25px;
          }
          form {
            width: 100%;
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            gap: 20px;
            h4 {
              font-size: 15px;
              font-weight: 500;
            }
            .inpBlock {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 5px;
              width: 48%;

              input {
                width: 100%;
                height: 40px;
                padding-inline: 10px;
                background: #a8a8d012;
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.205);
              }
            }
            .messageBlock {
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 5px;
              width: 100%;
              input {
                width: 100%;
                padding: 10px 0 120px 0;
                padding-inline: 10px;
                background: #a8a8d012;
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.205);
              }
            }
            button {
              width: 100%;
              height: 40px;
              margin-top: 20px;
              background: linear-gradient(90deg, #00468c, #1e90ff);
              color: white;
              border: none;
              box-shadow: 0 4px 10px rgba(0, 70, 140, 0.3);
              border-radius: 10px;
              font-size: 15px;
              color: white;
              font-weight: 600;
              transition: 0.5s ease-in-out;
              &:hover {
                transform: scale(1.02);
                box-shadow: 0 6px 15px rgba(0, 70, 140, 0.5);
              }

              &:active {
                transform: scale(0.98);
              }
            }
          }
        }
        .texts {
          display: flex;
          align-items: start;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}
